examples/append-publish.json
[
    {
        "id": "1ca17a844f5dc7a3",
        "type": "group",
        "z": "f6f2187d.f17ca8",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "df707db2e488b2bf",
            "bd7e624c1effa435",
            "e6486a94f211ad9f",
            "47ed28a6b55784b4",
            "90b633177ca41c33",
            "9187ea7a6703aa33",
            "3e2bee7b69fe9f61",
            "9d6aeea4c36caa4c",
            "9413f52193f9be10",
            "c7ec046b3fad5790",
            "9130e926c08863a6",
            "191dad0439b05f70",
            "1d5f94cfa148adc2",
            "0b13445cbfd0b0cd",
            "d5c0da95854e8a63"
        ],
        "x": 754,
        "y": 179,
        "w": 432,
        "h": 362
    },
    {
        "id": "df707db2e488b2bf",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "g": "1ca17a844f5dc7a3",
        "name": "Append Publish Flow",
        "info": "",
        "x": 880,
        "y": 220,
        "wires": []
    },
    {
        "id": "bd7e624c1effa435",
        "type": "subscribe-context",
        "z": "f6f2187d.f17ca8",
        "g": "1ca17a844f5dc7a3",
        "name": "subscribe context",
        "properties": [
            "test5"
        ],
        "propertyTypes": [
            "str"
        ],
        "x": 860,
        "y": 460,
        "wires": [
            [
                "1d5f94cfa148adc2"
            ]
        ]
    },
    {
        "id": "e6486a94f211ad9f",
        "type": "publish-context",
        "z": "f6f2187d.f17ca8",
        "g": "1ca17a844f5dc7a3",
        "name": "publish context",
        "property": "test5.object",
        "action": "append",
        "func": "let object = {}\nobject[msg.timestamp] = msg.payload\n\nreturn object;",
        "x": 1080,
        "y": 260,
        "wires": []
    },
    {
        "id": "47ed28a6b55784b4",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "g": "1ca17a844f5dc7a3",
        "name": "Set Object",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "timestamp",
                "v": "",
                "vt": "date"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"string\":\"Hello World\",\"float\":3.14,\"bool\":false,\"int\":41}",
        "payloadType": "json",
        "x": 880,
        "y": 260,
        "wires": [
            [
                "e6486a94f211ad9f"
            ]
        ]
    },
    {
        "id": "90b633177ca41c33",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "g": "1ca17a844f5dc7a3",
        "name": "Set Array",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "isArray",
                "v": "true",
                "vt": "bool"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[1]",
        "payloadType": "json",
        "x": 880,
        "y": 300,
        "wires": [
            [
                "9187ea7a6703aa33"
            ]
        ]
    },
    {
        "id": "9187ea7a6703aa33",
        "type": "publish-context",
        "z": "f6f2187d.f17ca8",
        "g": "1ca17a844f5dc7a3",
        "name": "publish context",
        "property": "test5.array",
        "action": "append",
        "func": "return msg.payload;",
        "x": 1080,
        "y": 300,
        "wires": []
    },
    {
        "id": "3e2bee7b69fe9f61",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "g": "1ca17a844f5dc7a3",
        "name": "Set String",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Hello!",
        "payloadType": "str",
        "x": 880,
        "y": 340,
        "wires": [
            [
                "9d6aeea4c36caa4c"
            ]
        ]
    },
    {
        "id": "9d6aeea4c36caa4c",
        "type": "publish-context",
        "z": "f6f2187d.f17ca8",
        "g": "1ca17a844f5dc7a3",
        "name": "publish context",
        "property": "test5.string",
        "action": "append",
        "func": "return msg.payload;",
        "x": 1080,
        "y": 340,
        "wires": []
    },
    {
        "id": "9413f52193f9be10",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "g": "1ca17a844f5dc7a3",
        "name": "Set Num",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 880,
        "y": 380,
        "wires": [
            [
                "c7ec046b3fad5790"
            ]
        ]
    },
    {
        "id": "c7ec046b3fad5790",
        "type": "publish-context",
        "z": "f6f2187d.f17ca8",
        "g": "1ca17a844f5dc7a3",
        "name": "publish context",
        "property": "test5.number",
        "action": "append",
        "func": "return msg.payload;",
        "x": 1080,
        "y": 380,
        "wires": []
    },
    {
        "id": "9130e926c08863a6",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "g": "1ca17a844f5dc7a3",
        "name": "Set Buffer",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[52,49]",
        "payloadType": "bin",
        "x": 880,
        "y": 420,
        "wires": [
            [
                "191dad0439b05f70"
            ]
        ]
    },
    {
        "id": "191dad0439b05f70",
        "type": "publish-context",
        "z": "f6f2187d.f17ca8",
        "g": "1ca17a844f5dc7a3",
        "name": "publish context",
        "property": "test5.buffer",
        "action": "append",
        "func": "return msg.payload;",
        "x": 1080,
        "y": 420,
        "wires": []
    },
    {
        "id": "1d5f94cfa148adc2",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "g": "1ca17a844f5dc7a3",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 460,
        "wires": []
    },
    {
        "id": "0b13445cbfd0b0cd",
        "type": "subscribe-context",
        "z": "f6f2187d.f17ca8",
        "g": "1ca17a844f5dc7a3",
        "name": "subscribe context",
        "properties": [
            "test5.object",
            "test5.array",
            "test5.string",
            "test5.number",
            "test5.buffer"
        ],
        "propertyTypes": [
            "str",
            "str",
            "str",
            "str",
            "str"
        ],
        "x": 860,
        "y": 500,
        "wires": [
            [
                "d5c0da95854e8a63"
            ]
        ]
    },
    {
        "id": "d5c0da95854e8a63",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "g": "1ca17a844f5dc7a3",
        "name": "debug 10",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 500,
        "wires": []
    }
]