examples/basic.json
[
    {
        "id": "a41d1f6b561abd55",
        "type": "group",
        "z": "f6f2187d.f17ca8",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "c8817f5bc56c873d",
            "a8b1574e52723ca0",
            "2c04a505a0f5f8c7",
            "afd87be0d9512efd",
            "0b77e5ea73175fe0",
            "146bf279ccb2c5c2",
            "10e6ec3282d9a001"
        ],
        "x": 54,
        "y": 179,
        "w": 472,
        "h": 202
    },
    {
        "id": "c8817f5bc56c873d",
        "type": "subscribe-context",
        "z": "f6f2187d.f17ca8",
        "g": "a41d1f6b561abd55",
        "name": "[SUB] test1",
        "properties": [
            "test1"
        ],
        "propertyTypes": [
            "str"
        ],
        "x": 150,
        "y": 340,
        "wires": [
            [
                "10e6ec3282d9a001"
            ]
        ]
    },
    {
        "id": "a8b1574e52723ca0",
        "type": "publish-context",
        "z": "f6f2187d.f17ca8",
        "g": "a41d1f6b561abd55",
        "name": "publish context",
        "property": "test1",
        "action": "replace",
        "func": "return msg.payload;",
        "x": 380,
        "y": 260,
        "wires": []
    },
    {
        "id": "2c04a505a0f5f8c7",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "g": "a41d1f6b561abd55",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 260,
        "wires": [
            [
                "a8b1574e52723ca0"
            ]
        ]
    },
    {
        "id": "afd87be0d9512efd",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "g": "a41d1f6b561abd55",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 300,
        "wires": [
            [
                "0b77e5ea73175fe0"
            ]
        ]
    },
    {
        "id": "0b77e5ea73175fe0",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "g": "a41d1f6b561abd55",
        "name": "Won't trigger subscribe",
        "func": "global.set(\"test1\", 1)\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "146bf279ccb2c5c2",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "g": "a41d1f6b561abd55",
        "name": "Basic Publish Subscribe Flow",
        "info": "Note: this shows that setting the global context via a function node will NOT trigger the subscribe node to fire.",
        "x": 200,
        "y": 220,
        "wires": []
    },
    {
        "id": "10e6ec3282d9a001",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "g": "a41d1f6b561abd55",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 340,
        "wires": []
    }
]