examples/wildcard-subscribe.json
[
    {
        "id": "e9c02a1111bfb965",
        "type": "group",
        "z": "f6f2187d.f17ca8",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "9bcf6c2fc0b5b64b",
            "abbe8c26186ebaa5",
            "6f53d7f785e7ae15",
            "a909a087a1d14f1b",
            "4bf609d928fc23b7",
            "e280121010b0a437",
            "ff4e611942baab3a",
            "7db5cf65e900fb1b",
            "wild1",
            "wild2",
            "wild3",
            "wild4",
            "wild5",
            "wild6"
        ],
        "x": 754,
        "y": 559,
        "w": 632,
        "h": 582
    },
    {
        "id": "9bcf6c2fc0b5b64b",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "g": "e9c02a1111bfb965",
        "name": "Wildcard Subscribe Example",
        "info": "",
        "x": 890,
        "y": 600,
        "wires": []
    },
    {
        "id": "abbe8c26186ebaa5",
        "type": "set-global-state",
        "z": "f6f2187d.f17ca8",
        "g": "e9c02a1111bfb965",
        "name": "set global state",
        "property": "devices",
        "action": "replace",
        "func": "return {\n    livingRoom: { temperature: 22, humidity: 45 },\n    bedroom: { temperature: 20, humidity: 50 },\n    kitchen: { temperature: 23, humidity: 48 }\n}",
        "x": 1080,
        "y": 640,
        "wires": []
    },
    {
        "id": "6f53d7f785e7ae15",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "g": "e9c02a1111bfb965",
        "name": "Initialize Devices",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 890,
        "y": 640,
        "wires": [
            [
                "abbe8c26186ebaa5"
            ]
        ]
    },
    {
        "id": "a909a087a1d14f1b",
        "type": "subscribe-state",
        "z": "f6f2187d.f17ca8",
        "g": "e9c02a1111bfb965",
        "name": "Direct Subscribe",
        "properties": [
            "devices"
        ],
        "x": 1060,
        "y": 920,
        "wires": [
            [
                "4bf609d928fc23b7"
            ]
        ]
    },
    {
        "id": "4bf609d928fc23b7",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "g": "e9c02a1111bfb965",
        "name": "devices (all)",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1260,
        "y": 920,
        "wires": []
    },
    {
        "id": "e280121010b0a437",
        "type": "set-global-state",
        "z": "f6f2187d.f17ca8",
        "g": "e9c02a1111bfb965",
        "name": "update bedroom temp",
        "property": "devices.bedroom.temperature",
        "action": "replace",
        "func": "return 21;",
        "x": 1100,
        "y": 720,
        "wires": []
    },
    {
        "id": "ff4e611942baab3a",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "g": "e9c02a1111bfb965",
        "name": "Update Bedroom Temp",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 890,
        "y": 720,
        "wires": [
            [
                "e280121010b0a437"
            ]
        ]
    },
    {
        "id": "7db5cf65e900fb1b",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "g": "e9c02a1111bfb965",
        "name": "devices.bedroom",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1270,
        "y": 1040,
        "wires": []
    },
    {
        "id": "wild1",
        "type": "subscribe-state",
        "z": "f6f2187d.f17ca8",
        "g": "e9c02a1111bfb965",
        "name": "Wildcard: devices.*",
        "properties": [
            "devices.*"
        ],
        "x": 1070,
        "y": 960,
        "wires": [
            [
                "wild2"
            ]
        ]
    },
    {
        "id": "wild2",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "g": "e9c02a1111bfb965",
        "name": "devices.* (rooms)",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1280,
        "y": 960,
        "wires": []
    },
    {
        "id": "wild3",
        "type": "subscribe-state",
        "z": "f6f2187d.f17ca8",
        "g": "e9c02a1111bfb965",
        "name": "Wildcard: devices.*.temperature",
        "properties": [
            "devices.*.temperature"
        ],
        "x": 1080,
        "y": 1000,
        "wires": [
            [
                "wild4"
            ]
        ]
    },
    {
        "id": "wild4",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "g": "e9c02a1111bfb965",
        "name": "devices.*.temperature",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1300,
        "y": 1000,
        "wires": []
    },
    {
        "id": "wild5",
        "type": "subscribe-state",
        "z": "f6f2187d.f17ca8",
        "g": "e9c02a1111bfb965",
        "name": "Direct: devices.bedroom",
        "properties": [
            "devices.bedroom"
        ],
        "x": 1080,
        "y": 1040,
        "wires": [
            [
                "7db5cf65e900fb1b"
            ]
        ]
    },
    {
        "id": "wild6",
        "type": "set-global-state",
        "z": "f6f2187d.f17ca8",
        "g": "e9c02a1111bfb965",
        "name": "update kitchen humidity",
        "property": "devices.kitchen.humidity",
        "action": "replace",
        "func": "return 52;",
        "x": 1110,
        "y": 760,
        "wires": []
    },
    {
        "id": "wild7",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "g": "e9c02a1111bfb965",
        "name": "Update Kitchen Humidity",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 900,
        "y": 760,
        "wires": [
            [
                "wild6"
            ]
        ]
    },
    {
        "id": "wild8",
        "type": "subscribe-state",
        "z": "f6f2187d.f17ca8",
        "g": "e9c02a1111bfb965",
        "name": "Wildcard: devices.*.humidity",
        "properties": [
            "devices.*.humidity"
        ],
        "x": 1080,
        "y": 1080,
        "wires": [
            [
                "wild9"
            ]
        ]
    },
    {
        "id": "wild9",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "g": "e9c02a1111bfb965",
        "name": "devices.*.humidity",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1290,
        "y": 1080,
        "wires": []
    }
] 